<template>
  <div v-if="blockNotFound">
    <a-result
      status="404"
      title="404"
      sub-title="Блок не настроен, обратитесь к разработчику"
    />
  </div>
  <div v-else>
    <a-spin :spinning="statePromise.loading.value">
      <Table :value="promiseItems" />
      <ModalAdd v-if="modal.showAdd" />
      <ModalShowSubAdd v-if="modal.showSubAdd" />
      <ModalAddProductParameter v-if="modal.showModalAddProductParameter" />
      <ModalEdit :id="rowId" v-if="modal.showEdit" />
      <ModalEditProductParameter v-if="modal.showEditProductParameter" />
      <ModalDelete :ids="rowId" v-if="modal.showDelete" />
    </a-spin>
  </div>
</template>

<script lang="ts">
import Table from "./Table.vue";

import ModalAdd from "@/components/Modal/ModalAdd.vue";
import ModalShowSubAdd from "@/components/Modal/ModalSubAdd.vue";
import ModalAddProductParameter from "@/components/Modal/ModalAddProductParameter.vue";
import ModalEdit from "@/components/Modal/ModalEdit.vue";
import ModalEditProductParameter from "@/components/Modal/ModalEditProductParameter.vue";
import ModalDelete from "@/components/Modal/ModalDelete.vue";

import api, { createDictionaryApi } from "@/services/api";
import usePromise from "@/components/hooks/use-promise";
import { ConfigBlock } from "@/components/blocks";

import { useStore } from "vuex";

import moment from "moment";

import {
  computed,
  ComputedRef,
  defineComponent,
  inject,
  reactive,
  onMounted,
  ref,
  watch
} from "vue";

export default defineComponent({
  components: {
    Table,
    ModalAdd,
    ModalShowSubAdd,
    ModalAddProductParameter,
    ModalEdit,
    ModalEditProductParameter,
    ModalDelete
  },

  setup() {
    const store = useStore();
    const [{ value: block }, { value: part }] = [
      inject<ComputedRef<ConfigBlock>>("block"),
      inject<ComputedRef<string>>("part")
    ];
    if (!block) {
      return { blockNotFound: true };
    }
    const { createPromise, ...statePromise } = usePromise(
      createDictionaryApi(block?.url, block?.readonly)
    );
    const modal = computed(() => store.getters["getModalVisibility"]);
    const rowId = computed(() => store.getters["getRowId"]);
    const filters = reactive({
      from: 0,
      count: 20
    });
    const blockDictionary = block.dictionaries?.preload ?? ["empty"];
    const isExistSelfUpdateDictionary = blockDictionary.includes(part);

    function itemAction(action = "getData") {
      return createPromise({ action });
    }

    const promiseItems = computed(() => store.getters["getPromiseItem"]);
    const refreshData = computed(() => store.getters["getRefreshTable"]);

    watch(refreshData, refreshData => {
      store.commit("setData", { block: block, action: "getData" });
    });

    async function loadDictionaries(filters) {
      const config = store.state.dictionary.config;
      const filledDictionary = blockDictionary.reduce(
        (acc, curr) => ((acc[curr] = []), acc),
        {}
      );
      for (const dictionary of blockDictionary) {
        if (dictionary !== "empty") {
          const dictBlock = config[dictionary];
          const { createPromise, ...statePromise } = usePromise(
            createDictionaryApi(dictBlock.url, dictBlock.readonly)
          );
          await createPromise({
            action: "getData"
          });
          filledDictionary[dictionary] = statePromise.result;
        }
      }
      store.commit(`setDictionaries`, filledDictionary);
    }

    const refresh = computed(() => store.getters.getRefreshTable);

    onMounted(async () => {
      await store.commit("setData", { block: block, action: "getData" });
      loadDictionaries({
        actualDate: moment()
          .utcOffset(0, true)
          .startOf("day")
          .format()
      });
      itemAction();
    });

    return {
      blockNotFound: false,
      modal,
      rowId,
      statePromise,
      block,
      promiseItems,
      refresh
    };
  }
});
</script>
