<template>
  <a-table
    :row-key="record => record.id"
    :data-source="tableData"
    :pagination="pagination"
    size="middle"
    v-bind="tableDinamicalAttribute()"
    :scroll="{ y: '52vh' }"
  >
    <template v-for="(column, index) of columns" :key="column.key + index">
      <a-table-column-group>
        <template #title>{{ column.title }}</template>
        <a-table-column
          :key="column.key + index"
          :data-index="column.keyTable"
          :scopedSlots="column.scopedSlots"
          :width="column.width"
          style="width: 100%"
        >
          <template #title>
            <ugsk-form-items
              :column="column"
              :column-dictionaries="columnDictionaries"
              :data-test-id="'table-filter-by-' + column.key"
            />
          </template>
          <template #default="{ text, record }">
            <template v-if="!column.type">
              {{ text }}
            </template>
            <template v-else-if="column.keyTable === 'image'">
              <div class="text-center">
                <a-image :width="100" :src="text" v-if="text !== false" />
                <a-tag v-else color="red">
                  ☒
                </a-tag>
              </div>
            </template>
            <template v-else-if="column.keyTable === 'ingridientsList'">
              <a-tag
                v-for="tag in record.ingredientsList"
                :key="tag.id"
                closable
                @close="deleteIngredient(record.id, tag.id)"
              >
                {{ tag.name }}
              </a-tag>
              <a-tooltip placement="right">
                <template #title><span>Добавить ингридиент</span></template>
                <a-button
                  size="small"
                  type="dashed"
                  @click="showSubAdd({ id: record.id, column })"
                  data-test-id="table-item-sub-add"
                >
                  <Icon type="PlusOutlined" />
                </a-button>
              </a-tooltip>
            </template>
            <template v-else-if="column.keyTable === 'tagList'">
              <a-tag
                v-for="tag in text"
                :key="tag.id"
                :color="tag.color"
                closable
                @close="deleteTag(record.id, tag.id)"
              >
                {{ tag.name.toUpperCase() }}
              </a-tag>
              <a-tooltip placement="right">
                <template #title><span>Добавить тэг</span></template>
                <a-button
                  size="small"
                  type="dashed"
                  @click="showSubAdd({ id: record.id, column })"
                  data-test-id="table-item-sub-add"
                >
                  <Icon type="PlusOutlined" />
                </a-button>
              </a-tooltip>
            </template>

            <template v-else-if="column.keyTable === 'parameters'">
              <a-tag
                v-for="tag in text"
                :key="tag.id"
                color="purple"
                closable
                @close="deleteParams(record.id, tag.id)"
              >
                <template #icon>
                  <Icon
                    type="EditOutlined"
                    :style="{ cursor: 'pointer' }"
                    @click="
                      showModalEditProductParameter({
                        id: record.id,
                        column,
                        tag
                      })
                    "
                  />
                </template>
                <a-tooltip placement="top">
                  <template #title>
                    Вес: {{ tag.weight }} <br />
                    Калории: {{ tag.calories }} <br />
                    Цена:
                    {{ tag.price }}
                  </template>
                  {{ tag.size }}см
                </a-tooltip>
              </a-tag>
              <a-tooltip placement="right">
                <template #title><span>Добавить параметры</span></template>
                <a-button
                  size="small"
                  type="dashed"
                  @click="
                    showModalAddProductParameter({ id: record.id, column })
                  "
                  data-test-id="table-item-sub-add"
                >
                  <Icon type="PlusOutlined" />
                </a-button>
              </a-tooltip>
            </template>

            <template v-else-if="column.type === 'tableBoolean'">
              <div class="text-center">
                <a-tag :color="text ? 'green' : 'red'">
                  {{ text ? "Да" : "Нет" }}
                </a-tag>
              </div>
            </template>
            <tempalte v-else-if="column.key === 'color'">
              <a-tag :color="text">{{ text }}</a-tag>
            </tempalte>
            <tempalte v-else-if="column.type === 'action'">
              <a-tooltip placement="left">
                <template #title><span>Редактирование</span></template>
                <a-button
                  type="dashed"
                  @click="showEdit(text)"
                  data-test-id="table-item-edit"
                >
                  <Icon type="EditOutlined" />
                </a-button>
              </a-tooltip>
            </tempalte>
            <template v-else>
              {{ text }}
            </template>
          </template>
        </a-table-column>
      </a-table-column-group>
    </template>
  </a-table>
</template>

<script lang="ts">
import { ComputedRef, defineComponent, inject } from "vue";

import useDatatable from "@/components/hooks/use-datatable";
import { ConfigBlock } from "@/components/blocks";

import Icon from "@/components/core/icon.vue";

export default defineComponent({
  props: ["value"],
  components: {
    Icon
  },
  setup(props) {
    const block = inject<ComputedRef<ConfigBlock>>("block");
    const mixinTable = block.value.mixin?.table ?? (() => ({}));

    return {
      ...useDatatable(props),
      ...mixinTable(props)
    };
  }
});
</script>

<style lang="scss">
.ant-table-body {
  overflow: auto !important;
}
.ant-tag {
  margin-top: 4px !important;
}
.anticon[tabindex] {
  margin-left: 4px !important;
  cursor: pointer;
}
</style>
