<template>
  <a-row type="flex" justify="center">
    <a-space :size="20">
      <a-button type="primary" @click="toggle('showAdd', true)">
        <template #icon>
          <Icon type="PlusOutlined" />
        </template>
        Добавить
      </a-button>
      <a-button
        type="primary"
        @click="toggle('showEdit', true)"
        :disabled="!isOneRow"
      >
        <template #icon>
          <Icon type="EditOutlined" />
        </template>
        Редактировать
      </a-button>
      <a-button
        type="primary"
        @click="toggle('showDelete', true)"
        :disabled="!isOneRow"
      >
        <template #icon>
          <Icon type="DeleteOutlined" />
        </template>
        Удалить
      </a-button>
    </a-space>
  </a-row>
</template>

<script lang="ts">
import Icon from "@/components/core/icon.vue";

import { useStore } from "vuex";

import { ConfigBlock } from "@/components/blocks";

import {
  computed,
  ComputedRef,
  inject,
  defineComponent,
  ref,
  watch
} from "vue";

export default defineComponent({
  components: {
    Icon
  },
  setup() {
    const store = useStore();

    const block = inject<ComputedRef<ConfigBlock>>("block");

    const selectedRows = computed(() => store.getters.getSelectedRowKeys);

    const isOneRow = computed(() => selectedRows.value.length === 1);
    const isMoreRow = computed(() => selectedRows.value.length > 0);
    const selectedRowsId = computed(() => selectedRows.value);

    const toggle = function(typeShow, value) {
      store.commit("setRowId", { rowId: selectedRows.value[0] });
      store.commit("toggleModal", { typeShow, value });
    };

    return { toggle, isOneRow, isMoreRow, selectedRowsId };
  }
});
</script>
