<template>
  <a-typography-title :level="5"
    >Версия Front: {{ frontVersion }}</a-typography-title
  >
</template>

<script>
import { version } from "@/../package.json";

import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    const frontVersion = version;

    return {
      frontVersion,
    };
  },
});
</script>

<style lang="scss"></style>
