<template>
  <a-row type="flex" justify="space-around" align="middle">
    <a-col>
      <a-menu
        v-if="isAuth"
        mode="horizontal"
        v-model:openKeys="openKeys"
        v-model:selectedKeys="selectedKeys"
        :style="{ height: '70px' }"
      >
        <div v-for="nav in navigation" :key="nav.id">
          <a-menu-item
            v-if="nav.child.length === 0"
            @click="goTo(nav.navType, nav.id)"
          >
            <span>{{ nav.name }}</span>
          </a-menu-item>
          <a-sub-menu v-else>
            <template #title>{{ nav.name }}</template>
            <a-menu-item
              v-for="navChild in nav.child"
              :key="navChild.id"
              @click="goTo(nav.navType, nav.id, navChild.kind, navChild.id)"
            >
              {{ navChild.name }}
            </a-menu-item>
          </a-sub-menu>
        </div>
      </a-menu>
    </a-col>
    <a-col>
      <a-button v-if="isAuth" type="primary" @click="logout()">Выйти</a-button>
    </a-col>
  </a-row>
</template>

<script lang="ts">
import { useStore } from "vuex";
import { useRouter } from "vue-router";

import { defineComponent, computed, watch, reactive, toRefs } from "vue";

export default defineComponent({
  setup() {
    const router = useRouter();
    const store = useStore();
    const isAuth = computed(() => store.getters.getAuth);
    watch(isAuth, () => {
      console.log("isAuth", store.getters.getAuth);
    });

    const state = reactive({
      selectedKeys: ["0"],
      openKeys: ["sub1"],
      preOpenKeys: ["sub1"]
    });

    watch(
      () => state.openKeys,
      (val, oldVal) => {
        state.preOpenKeys = oldVal;
      }
    );

    const logout = function() {
      store.commit("logout");
    };

    const navigation = store.getters["getTree"];

    const goTo = function(
      navType: string,
      id: number,
      childNavKind?: string,
      childNavId?: string
    ) {
      childNavKind
        ? router.push(`/${navType}/${id}/page/${childNavId}`)
        : router.push(`/${navType}/${id}/page/1`);
    };

    return {
      logout,
      navigation,
      ...toRefs(state),
      goTo,
      isAuth
    };
  }
});
</script>
