<template>
  <component :is="icon" :rotate="rotate" />
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";

export default defineComponent({
  name: "icon",
  props: ["rotate", "type"],
  setup(props) {
    const icon = ref();
    import("@ant-design/icons-vue").then(modules => {
      if (typeof props.type === "string") {
        icon.value = modules[props.type];
      }
    });
    return { icon };
  },
});
</script>
