<template>
  <a-layout>
    <a-layout-header :style="{ background: '#fff', padding: 0 }">
      <slot name="header" />
    </a-layout-header>
    <a-layout-content :style="{ margin: '24px 16px 0' }">
      <slot name="action-toolbar" />
      <div :style="{ padding: '24px', background: '#fff' }">
        <slot name="default" />
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Page",
});
</script>
