<template>
  <page>
    <template #header>
      Раздел
    </template>
    <template #default> </template>
  </page>
</template>

<script lang="ts">
import Page from "@/components/core/page.vue";

import { defineComponent } from "vue";

export default defineComponent({
  components: {
    Page,
  },
});
</script>
