<template>
  <page :key="pageId" :style="{ marginTop: '20px' }">
    <template #header>
      <a-row type="flex" justify="space-around" align="middle">
        <span :style="{ fontSize: '28px', fontWeight: '500' }">
          {{ block.title }}
        </span>
      </a-row>
    </template>
    <template #action-toolbar v-if="block">
      <component
        :is="block.templateBlocks.toolbar"
        style="margin-bottom: 20px"
      />
    </template>
    <template #default v-if="block">
      <component :is="block.templateBlocks.table" />
    </template>
    <template #default v-else>
      <a-result
        status="404"
        title="404"
        sub-title="Блок не найден, обратитесь к разработчику"
      />
    </template>
  </page>
</template>

<script lang="ts">
import Page from "@/components/core/page.vue";

import { ComputedRef, defineComponent, inject } from "vue";

export default defineComponent({
  components: {
    Page,
  },

  setup() {
    const pageId = inject<ComputedRef<string>>("pageId");
    const part = inject<ComputedRef<string>>("part");
    const block = inject<ComputedRef<string>>("block");

    return {
      pageId,
      part,
      block,
    };
  },
});
</script>
