<template>
  <slot :column="column" :data="data">
    <span v-if="!column.type">{{ column.title }}</span>
    <a-textarea
      v-else-if="column.type === 'textarea'"
      v-model:value="data[column.key]"
      placeholder="Описание"
      allow-clear
    />
    <a-input
      v-else-if="column.type === 'input'"
      v-model:value="data[column.key]"
      :placeholder="column.title"
      :disabled="column.readonly"
      allowClear
      data-test-id="form-item-input"
    />
    <a-switch
      v-else-if="column.type === 'tableBoolean'"
      v-model:checked="data[column.key]"
      data-test-id="form-item-tableBoolean"
    />
    <ColorPicker
      v-else-if="column.type === 'colorpicker'"
      :style="{ width: '218px' }"
      theme="light"
      :color="color"
      @changeColor="changeColor"
      :sucker-hide="true"
      :sucker-canvas="null"
      :sucker-area="[]"
    />
    <a-input
      v-else-if="column.type === 'priceInput'"
      :placeholder="column.title"
      v-model:value="data[column.key]"
      :suffix="column.suffix"
    />
    <template v-else-if="column.type === 'promocode'">
      <a-row>
        <a-select
          v-model:value="promocodeType"
          placeholder="Тип промокода"
          :options="promocodesOptions"
          @change="handleChange"
        >
        </a-select>
      </a-row>
      <a-row v-if="promocodeType === 'product'">
        <a-input
          addon-before="Минимальная сумма заказа"
          addon-after="₽"
          v-model:value="data[column.key].order.min_price"
        />
        <a-select
          v-model:value="data[column.key].gift.product_id"
          allowClear
          show-search
          placeholder="Пицца в подарок"
        >
          <a-select-option
            v-for="option of products"
            :key="option.id"
            :value="option.id"
          >
            {{ option.name }}
          </a-select-option>
        </a-select>
      </a-row>
      <a-row v-else-if="promocodeType === 'discount_order'">
        <a-input
          addon-before="Скидка"
          addon-after="%"
          v-model:value="data[column.key].gift.discount_order"
        />
        <a-select
          v-model:value="data[column.key].order.productList"
          allowClear
          mode="multiple"
          show-search
          placeholder="Пиццы для применения скидки"
        >
          <a-select-option
            v-for="option of products"
            :key="option.id"
            :value="option.id"
          >
            {{ option.name }}
          </a-select-option>
        </a-select>
      </a-row>
    </template>
    <template v-else-if="column.type == 'dictionary'">
      <a-select
        v-model:value="data[column.key]"
        allowClear
        mode="multiple"
        show-search
        placeholder="Значение словаря"
      >
        <a-select-option
          v-for="option of options"
          :key="option.id"
          :value="option.id"
        >
          {{ option.name }}
        </a-select-option>
      </a-select>
    </template>
    <template v-else-if="column.type == 'select'">
      <a-select
        v-model:value="data[column.key]"
        allowClear
        show-search
        placeholder="Значение словаря"
      >
        <a-select-option
          v-for="option of column.options"
          :key="option.label"
          :value="option.value"
        >
          {{ option.label }}
        </a-select-option>
      </a-select>
    </template>
    <a-upload
      v-model:file-list="fileList"
      list-type="picture-card"
      accept="image/*"
      :remove="handleRemove"
      :before-upload="beforeUpload"
      v-else-if="column.type == 'upload'"
    >
      <div v-if="fileList.length < 1">
        <Icon type="UploadOutlined" />
        <div class="ant-upload-text">Загрузить</div>
      </div>
    </a-upload>
  </slot>
</template>
<script lang="ts">
import { defineComponent, computed, inject, ComputedRef, ref } from "vue";

import { ColorPicker } from "vue-color-kit";
import Icon from "@/components/core/icon.vue";

import { ConfigBlock } from "@/components/blocks";

import { useStore } from "vuex";

// interface FileItem {
//   uid: string;
//   name?: string;
//   status?: string;
//   response?: string;
//   url?: string;
//   preview?: string;
//   originFileObj?: any;
//   file: string | Blob;
// }

export default defineComponent({
  components: {
    Icon,
    ColorPicker
  },
  props: ["data", "column", "isModal"],
  setup(props) {
    const [{ value: block }, { value: part }] = [
      inject<ComputedRef<ConfigBlock>>("block"),
      inject<ComputedRef<string>>("part")
    ];
    const moduleStore = useStore();
    const dictionaries = computed(
      () => moduleStore.state.dictionary["dictionaries"] ?? undefined
    );

    const fileList = ref([]);
    const uploading = ref<boolean>(false);
    const color = ref(props.data[props.column.key] || "#FFFFFF");

    const mapFilter = function(items: any[], filter?: (item: any) => boolean) {
      if (typeof filter === "function") {
        return items.filter(filter);
      }
      return items;
    };

    const filterOption = function(input, option) {
      return (
        option.componentOptions.children[0].componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      );
    };

    const options = ref([]);

    if (props.column.type === "dictionary") {
      enum List {
        ingredients = "ingredientsList",
        tags = "tagList"
      }
      const added = moduleStore.state.datatable.data.filter(
        row => row.id === moduleStore.state.modal.rowId
      )[0][List[Object.keys(dictionaries.value[props.column.dictionary])[0]]];
      let all =
        dictionaries.value[props.column.dictionary][
          Object.keys(dictionaries.value[props.column.dictionary])[0]
        ];

      options.value = all.filter(a => !added.map(b => b.id).includes(a.id));
    }

    const handleRemove = file => {
      const index = fileList.value.indexOf(file);
      const newFileList = fileList.value.slice();
      newFileList.splice(index, 1);
      fileList.value = newFileList;
    };

    const beforeUpload = file => {
      let reader = new FileReader();
      function dataURLtoBlob(dataURI) {
        var byteString = atob(dataURI.split(",")[1]);
        var mimeString = dataURI
          .split(",")[0]
          .split(":")[1]
          .split(";")[0];
        var ab = new ArrayBuffer(byteString.length);
        var ia = new Uint8Array(ab);
        for (var i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
        }
        var blob = new Blob([ab], { type: mimeString });
        return blob;
      }
      reader.onload = function() {
        props.data[props.column.key] = reader.result;
      };
      reader.readAsDataURL(file);

      fileList.value = [...fileList.value, file];
      return false;
    };

    const rgb2hex = function(rgb) {
      rgb = rgb.match(
        /^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i
      );
      return rgb && rgb.length === 4
        ? "#" +
            ("0" + parseInt(rgb[1], 10).toString(16)).slice(-2) +
            ("0" + parseInt(rgb[2], 10).toString(16)).slice(-2) +
            ("0" + parseInt(rgb[3], 10).toString(16)).slice(-2)
        : "";
    };

    const changeColor = function(color) {
      const { r, g, b, a } = color.rgba;
      color.value = `rgba(${r}, ${g}, ${b}, ${a})`;
      props.data[props.column.key] = rgb2hex(`rgba(${r}, ${g}, ${b}, ${a})`);
    };

    const promocodeType = ref();
    const products = computed(() => dictionaries.value.ProductsList.products);
    if (block.url === "promoCodes") {
      // props.data.parameters.order = null;
      // props.data.parameters.gift = null;
    }
    const handleChange = function() {
      props.data.parameters.order.min_price = null;
      props.data.parameters.order.productList = [];
      props.data.parameters.gift.product_id = null;
      props.data.parameters.gift.discount_order = null;
    };

    const promocodesOptions = ref([
      {
        value: "discount_order",
        label: "Скидка"
      },
      {
        value: "product",
        label: "Пицца в подарок при минимальном заказе"
      }
    ]);

    console.log(props.data);

    return {
      dictionaries,
      mapFilter,
      filterOption,
      options,
      fileList,
      uploading,
      handleRemove,
      changeColor,
      color,
      beforeUpload,
      promocodeType,
      promocodesOptions,
      products,
      handleChange
    };
  }
});
</script>
