<template>
  <router-view :key="part + 'Page'" />
</template>

<script lang="ts">
import Item from "@/components/dictionary/products/Item.vue";
import { config } from "@/components/blocks";

import useBlockHelper from "@/components/hooks/use-blockhelper";

import { useStore } from "vuex";

import { computed, defineComponent, onMounted, provide, watch } from "vue";

export default defineComponent({
  components: {
    Item,
  },
  props: {
    id: { default: "0", type: String },
    pageId: { default: "0", type: String },
  },
  setup(props) {
    const store = useStore();

    const treeItem = computed(() => store.getters["getTreeId"](props.id));
    const part = computed(
      () =>
        store.getters["getTreeId"](props.id)?.child?.find(
          treeItem => treeItem.id === +props.pageId,
        )?.kind,
    );
    // const divisionPartFilters = computed(() => {
    //   Object.keys(treeItem.value.filters).forEach((k) => treeItem.value.filters[k] == null && delete treeItem.value.filters[k]);
    //   return treeItem.value.filters ?? {};
    // });

    const block = computed(() => config[part.value]);
    const moduleId = computed(() => props.id);
    const pageId = computed(() => props.pageId);
    const treeSubMenu = computed(() => treeItem.value.child);

    provide("block", block);
    provide("part", part);
    provide("tree", treeSubMenu);
    provide("moduleId", moduleId);
    provide("pageId", pageId);

    return {
      block,
      treeSubMenu,
      part,
      treeItem,
    };
  },
});
</script>
