<template>
  <a-row type="flex" justify="start" align="top" :gutter="[32, 16]">
    <!-- <template v-for="moduleConfig of modulesTree" :key="moduleConfig.id">
      <a-col :xs="24" :md="12" :lg="8" :xl="6" :xxl="4">
        <router-link :to="`/${moduleConfig.navType}/${moduleConfig.id}`">
          <a-card hoverable bordered>
            <a-card-meta :title="moduleConfig.name">
              <template #avatar>
                <a-avatar />
              </template>
              <template #description>
                {{ moduleConfig.description }}
              </template>
            </a-card-meta>
          </a-card>
        </router-link>
      </a-col>
    </template> -->
  </a-row>
</template>

<script lang="ts">
import { useStore } from "vuex";

import { computed, defineComponent, provide, watch } from "vue";

export default defineComponent({
  setup() {
    const store = useStore();

    const modulesTree = computed(() => store.getters.getTree);
    return {
      modulesTree
    };
  }
});
</script>
