<template>
  <a-row
    type="flex"
    justify="center"
    align="middle"
    :style="{ height: 'calc(100vh - 25px - 70px)' }"
  >
    <a-col>
      <a-form
        :model="formLogin"
        @finish="goLogin"
        @finishFailed="handleFinishFailed"
        :style="{ width: '300px' }"
      >
        <a-form-item>
          <a-input
            v-model:value="formLogin.email"
            placeholder="Логин"
            allowClear
          >
            <template #prefix>
              <Icon type="UserOutlined" style="color: rgba(0, 0, 0, 0.25)" />
            </template>
          </a-input>
        </a-form-item>
        <a-form-item>
          <a-input-password
            v-model:value="formLogin.password"
            type="password"
            placeholder="Пароль"
            allowClear
          >
            <template #prefix>
              <Icon type="LockOutlined" style="color: rgba(0, 0, 0, 0.25)" />
            </template>
          </a-input-password>
        </a-form-item>
        <a-form-item>
          <a-button
            type="primary"
            html-type="submit"
            :disabled="!disabled"
            @click="login()"
          >
            Войти
          </a-button>
        </a-form-item>
      </a-form>
    </a-col>
  </a-row>
</template>

<script lang="ts">
import Icon from "@/components/core/icon.vue";

import { useStore } from "vuex";
import { useRouter } from "vue-router";

import {
  defineComponent,
  UnwrapRef,
  reactive,
  computed,
  inject,
  onMounted
} from "vue";

interface formLogin {
  email: string;
  password: string;
}

export default defineComponent({
  components: {
    Icon
  },
  setup() {
    const store = useStore();
    const router = useRouter();

    const formLogin: UnwrapRef<formLogin> = reactive({
      email: "",
      password: ""
    });

    const disabled = computed(() => formLogin.email && formLogin.password);

    const login = function() {
      store.commit("setToken", formLogin);
    };

    onMounted(() => {
      store.commit("checkAuth");
      if (store.getters.getAuth) {
        router.push({ path: "/" });
      }
    });

    return {
      formLogin,
      login,
      disabled
    };
  }
});
</script>
