<template>
  <a-modal
    v-model:visible="visible"
    title="Добавление"
    @ok="handleOk"
    @cancel="handleClose()"
    okText="Добавить"
    cancelText="Отмена"
    :maskClosable="true"
    :width="650"
  >
    <a-form
      ref="form"
      :model="formData"
      @submit="handleOk"
      @submit.prevent
      :label-col="{ span: 10 }"
      :wrapper-col="{ span: 14 }"
    >
      <template v-for="column of blockColumn" :key="column.key">
        <a-form-item
          :label="column.title"
          :name="column.key"
          :ref="column.key"
          :rules="rules[column.key]"
          v-if="
            (column.isHidden ? !column.isHidden(formData) : true) &&
              !column.hidden
          "
        >
          <Items
            :column="column"
            :data="formData"
            :is-modal="true"
            :column-dictionaries="columnDictionaries"
          />
        </a-form-item>
      </template>
    </a-form>
    <template #footer>
      <a-row type="flex" align="bottom">
        <a-col flex="95px">
          <a-button key="back" @click="handleClose()">
            Отменить
          </a-button>
        </a-col>
        <a-col flex="auto">
          <a-button key="submit" type="primary" @click="handleOk">
            Добавить
          </a-button>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import Items from "@/components/Form/Items.vue";

import { useCRUD } from "@/components/Modal/use-modal";

export default defineComponent({
  components: { Items },
  setup() {
    const modal = useCRUD({
      action: "addData",
      showModal: "showAdd",
      onModalSuccess: "addModalCallback",
      successText: "Успешное добавление"
    });

    return { ...modal };
  }
});
</script>
