<template>
  <a-modal
    v-model:visible="visible"
    title="Редактирование"
    @ok="handleOk"
    @cancel="handleClose()"
    okText="Сохранить"
    cancelText="Отмена"
    :maskClosable="true"
    :width="650"
  >
    <a-spin :spinning="statePromise.loading.value">
      <a-form
        ref="form"
        :model="formData"
        @submit="handleOk"
        @submit.prevent
        :label-col="{ span: 10 }"
        :wrapper-col="{ span: 14 }"
      >
        <template v-for="column of blockColumn" :key="column.key">
          <a-form-item
            :label="column.title"
            :name="column.key"
            :rules="rules[column.key]"
            v-if="
              (column.isHidden ? !column.isHidden(formData) : true) &&
                !column.hidden
            "
          >
            <Items
              :column="column"
              :data="formData"
              :is-modal="true"
              :column-dictionaries="columnDictionaries"
            />
          </a-form-item>
        </template>
      </a-form>
      <template #footer>
        <a-row type="flex" align="bottom">
          <a-col flex="95px">
            <a-button key="back" @click="handleClose()">
              Отменить
            </a-button>
          </a-col>
          <a-col flex="auto">
            <a-button key="submit" type="primary" @click="handleOk">
              Добавить
            </a-button>
          </a-col>
        </a-row>
      </template>
    </a-spin>
  </a-modal>
</template>

<script lang="ts">
import {
  computed,
  ComputedRef,
  defineComponent,
  inject,
  watch,
  onMounted,
  createVNode,
  ref
} from "vue";

import Items from "@/components/Form/Items.vue";

import { useCRUD } from "@/components/Modal/use-modal";
import { ConfigBlock } from "../blocks";
import { createDictionaryApi } from "@/services/api";
import { Modal } from "ant-design-vue";
import { ExclamationCircleOutlined } from "@ant-design/icons-vue";
import usePromise from "@/components/hooks/use-promise";

export default defineComponent({
  props: ["id"],
  components: { Items },
  setup({ id }) {
    //
    const modal = useCRUD({
      action: "saveData",
      showModal: "showEdit",
      onModalSuccess: "editModalCallback",
      successText: "Успешное сохранение изменений"
    });
    const { value: block } = inject<ComputedRef<ConfigBlock>>("block");

    const { createPromise, ...statePromise } = usePromise(
      createDictionaryApi(block.url, block.readonly)
    );

    const defaultFormData = modal.blockColumn
      .map(column => column.key)
      .reduce((prev, curr) => ((prev[curr] = null), prev), {});
    const serverFormData = computed(() => statePromise.result);

    modal.formData.value = { ...defaultFormData };

    watch(serverFormData.value, serverData => {
      modal.formData.value = {
        ...defaultFormData,
        ...serverData[Object.keys(serverData)[0]]
      };
      modal.changeDefaultFormData({
        ...defaultFormData,
        ...serverData[Object.keys(serverData)[0]]
      });
    });

    onMounted(() => {
      createPromise({ action: "getData", id });
    });

    const handleOk = function() {
      const changesForm = modal.getChangesFormData();
      const isActiveChange = changesForm.find(item =>
        Object.keys(item).includes("isActive")
      );
      if (isActiveChange && !isActiveChange.isActive) {
        Modal.confirm({
          title: () => "Внимание!",
          icon: () => createVNode(ExclamationCircleOutlined),
          content: () =>
            "Внимание, внесенные изменения не сохранятся, хотите продолжить",
          okText: () => "Да",
          cancelText: () => "Нет",
          onOk() {
            modal.handleOk();
          },
          onCancel() {}
        });
      } else {
        modal.handleOk();
      }
    };

    const mixinModalEdit = block.mixin?.modalEdit({ modal }) ?? (() => ({}));

    return { ...modal, statePromise, handleOk, ...mixinModalEdit };
  }
});
</script>
