<template>
  <a-modal
    v-model:visible="visible"
    title="Редактирование параметра"
    @ok="ok"
    @cancel="handleClose()"
    okText="Сохранить"
    cancelText="Отмена"
    :maskClosable="true"
    :width="650"
  >
    <a-form
      ref="form"
      :model="data"
      @submit="handleOk"
      @submit.prevent
      :label-col="{ span: 10 }"
      :wrapper-col="{ span: 14 }"
    >
      <template v-for="column of columnsParameters" :key="column.key">
        <a-form-item
          :label="column.title"
          :name="column.key"
          :rules="rules[column.key]"
        >
          <Items
            :column="column"
            :data="data"
            :is-modal="true"
            :column-dictionaries="columnDictionaries"
          />
        </a-form-item>
      </template>
    </a-form>
    <template #footer>
      <a-row type="flex" align="bottom">
        <a-col flex="95px">
          <a-button key="back" @click="handleClose()">
            Отменить
          </a-button>
        </a-col>
        <a-col flex="auto">
          <a-button key="submit" type="primary" @click="ok">
            Добавить
          </a-button>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script lang="ts">
import {
  computed,
  ComputedRef,
  defineComponent,
  inject,
  watch,
  onMounted,
  createVNode,
  ref
} from "vue";

import Items from "@/components/Form/Items.vue";

import { useCRUD } from "@/components/Modal/use-modal";
import { ConfigBlock } from "../blocks";
import { useStore } from "vuex";
import axios from "axios";
import { useNoty } from "@/services/notification";

export default defineComponent({
  props: ["id"],
  components: { Items },
  setup({ id }) {
    //
    const modal = useCRUD({
      action: "saveData",
      showModal: "showEditProductParameter",
      onModalSuccess: "editModalCallback",
      successText: "Успешное сохранение изменений"
    });
    const { value: block } = inject<ComputedRef<ConfigBlock>>("block");
    const store = useStore();

    const data = ref([]);

    onMounted(() => {
      console.log(store.state.modal.tagParams);

      data.value["size"] = store.state.modal.tagParams.size;
      data.value["calories"] = store.state.modal.tagParams.calories;
      data.value["price"] = store.state.modal.tagParams.price;
      data.value["weight"] = store.state.modal.tagParams.weight;
    });

    const ok = function() {
      axios({
        url: `https://yummepal-backend.herokuapp.com/api/parameter/update/${store.state.modal.tagParams.id}`,
        method: "PATCH",
        data: {
          size: data.value["size"],
          calories: data.value["calories"],
          price: data.value["price"],
          weight: data.value["weight"]
        }
      }).then(() => {
        useNoty({
          type: "success",
          message: "Успешное сохранение изменений"
        }).openNotification();
        store.commit("setData", { block: block, action: "getData" });
        store.commit("toggleModal", {
          typeShow: "showEditProductParameter",
          value: false
        });
      });
    };

    const mixinModalEdit = block.mixin?.modalEdit({ modal }) ?? (() => ({}));

    return { ...modal, ...mixinModalEdit, data, ok };
  }
});
</script>
