<template>
  <a-modal
    v-model:visible="visible"
    title="Добавление параметра"
    @ok="handleOk"
    @cancel="handleClose()"
    :maskClosable="true"
    okText="Добавить"
    cancelText="Отмена"
    :width="650"
  >
    <a-form
      :model="formData"
      @submit="handleOk"
      @submit.prevent
      :label-col="{ span: 10 }"
      :wrapper-col="{ span: 14 }"
    >
      <template v-for="column of columnsParameters" :key="column.key">
        <a-form-item
          :label="column.title"
          :name="column.key"
          :rules="rules[column.key]"
        >
          <Items :column="column" :data="formData" :is-modal="true" />
        </a-form-item>
      </template>
    </a-form>
    <template #footer>
      <a-row type="flex" align="bottom">
        <a-col flex="95px">
          <a-button key="back" @click="handleClose()">
            Отменить
          </a-button>
        </a-col>
        <a-col flex="auto">
          <a-button key="submit" type="primary" @click="handleOk">
            Добавить
          </a-button>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";

import Items from "@/components/Form/Items.vue";

import { useCRUD } from "@/components/Modal/use-modal";
import { useStore } from "vuex";

export default defineComponent({
  components: { Items },
  setup() {
    const store = useStore();

    const modal = useCRUD({
      action: "addProductParameter",
      showModal: "showModalAddProductParameter",
      onModalSuccess: "addSubModalCallback",
      successText: "Успешное добавление"
    });

    return { ...modal };
  }
});
</script>
