<template>
  <a-modal
    v-model:visible="visible"
    okText="Да"
    cancelText="Нет"
    :maskClosable="true"
    :closable="false"
    @ok="sendData(ids)"
    @cancel="handleClose(true)"
    :width="416"
    class="ant-modal-confirm-warning"
  >
    <div class="ant-modal-confirm-body">
      <a-icon type="question-circle"></a-icon>
      <span class="ant-modal-confirm-title">Внимание!</span>
      <div class="ant-modal-confirm-content">Удалить выделенный элемент?</div>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import { useCRUD } from "@/components/Modal/use-modal";

import Icon from "@/components/core/icon.vue";

export default defineComponent({
  props: ["ids"],
  components: {
    Icon
  },
  setup() {
    //
    const modal = useCRUD({
      action: "removeData",
      showModal: "showDelete",
      onModalSuccess: "deleteModalCallback",
      successText: "Успешное удаление"
    });

    return { ...modal };
  }
});
</script>
